.app{
  height: 100vh;
  background-color: rgb(105, 177, 201);
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  background-color: floralwhite;
  height: 300px;
  width: 300px;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  border-radius: 20px;
}