.app{
  height: 100vh;
  background-color: rgb(105, 177, 201);
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  background-color: floralwhite;
  height: 300px;
  width: 300px;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  border-radius: 20px;
}

.green{
  background-color: green;
  color: aliceblue;
  font-size: 30px;
}

.buttonEvent{
  padding: 10px 20px;
  background-color: darkslateblue;
  color: aliceblue;
  cursor: pointer;
  font-size: 20px;
}